html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#350484, #2c0270, #230257, #140133, #070011);
    font-family: 'Segoe UI', sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
