.footer {
    background-color: #2c3e50;
    color: white;
    padding: 2rem 1.5rem 1rem;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}

.footer-brand h3 {
    margin: 0;
    font-size: 1.5rem;
}

.footer-brand p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #09ba97;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.6rem;
    border-top: 1px solid #444;
    padding-top: 1rem;
}


/* Estilos responsivos para escritorio/tableta */
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-links {
    flex-direction: row;
    gap: 1rem;
  }

  .footer-brand h3 {
    font-size: 1.5rem;
  }

  .footer-brand p {
    font-size: 0.9rem;
  }

  .footer-links a {
    font-size: 0.8rem;
  }

  .footer-bottom {
    font-size: 0.75rem;
  }
}
