 @keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
 
 .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 1rem;
    animation: fadeSlideIn 0.6s ease-out;
 }

.about-page {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    font-family: 'Segoe UI', sans-serif;    
    color: #f1fffe;
    background: linear-gradient(to right, #0b4541, #025852, #005650);
    border: 0.01rem solid #009c91;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.about-page h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-page h2 {
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.about-page ul {
    list-style: none;
    padding-left: 1.5rem;
}

.about-page li {
    background: url("/public/lightbulb.png") no-repeat left center;
    background-size: 16px 16px;
    padding-left: 24px;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}


/* Diseño responsivo para escritorio/tableta */
@media (min-width: 1024px) {
    .about-container {
        padding: 4rem 1rem;
    }

    .about-page {
        padding: 3rem;
        max-width: 1000px;
        font-size: 1.125rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .about-page h1 {
        font-size: 3rem;
    }

    .about-page h2 {
        font-size: 2rem;
    }

    .about-page li {
        background-size: 20px 20px;
        padding-left: 28px;
        line-height: 1.75;
    }
}
